/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 2;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/*
  ========================================
  Custom styles
  ========================================
*/

#page-wrapper {
	position: relative;
}

#header {
	position: fixed;
	width: 100%;
	top: 0;
	min-height: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #212121;
}

a {
	font-family: "Montserrat", sans-serif;
	font-size: 1.8rem;
	text-decoration: none;
	color: white;
	font-weight: 600;
}

ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

li {
	padding-left: 30px;
	padding-right: 30px;
}
#nav-bar {
	width: 50%;
}

#header-img {
	width: 60px;
	height: auto;
}

#header-text {
	color: white;
	font-family: "Libre Franklin", sans-serif;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 3px;
	padding-left: 5px;
}

.logo {
	width: 50vw;
	display: flex;
	align-items: center;
}

#hero {
	background-color: #424242;
	min-height: 60vh;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

#hero-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding-top: 75px;
	padding-bottom: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

#hero-text-container {
	width: 50%;
}

#hero-image-container {
	width: 50%;
}

#hero-title {
	color: White;
	font-family: "Libre Franklin", sans-serif;
	white-space: nowrap;
	margin-left: 25px;
	font-size: 5.5rem;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: 1px;
	margin-top: 50px;
}

#hero-description {
	color: White;
	font-family: "Georgia", serif;
	margin-left: 25px;
	font-size: 3rem;
	line-height: 1.4;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 1em;
}
